<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/blue.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SubUrbanClothes.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div>
                    <a href="/"><img id="bLogo" src="~/img/blue.png" alt="icon" /></a>
                    <a href="/"><img id="yLogo" src="~/img/yellow.png" alt="icon" /></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            <a id="navBarLable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               class="navbar-brand nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                SUBURBAN
                            </a>

                            <div class="dropdown-menu genders">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">

                                        <a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Women</a>

                                        <div class="dropdown-menu products" id="womensProducts">
                                            <div class="clothes">
                                                <ul>
                                                    <li><a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Clothes</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">T-Shirts</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Hoodies</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Shirts</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Jackets</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Pants</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Shorts</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Dresses</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Skirts</a></li>
                                                </ul>
                                            </div>
                                            <div class="clothes">
                                                <ul>
                                                    <li><a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Shoes</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Sneakers</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Boots</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Heels</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Men</a>

                                        <div class="dropdown-menu products" id="mensProducts">
                                            <div class="clothes">
                                                <ul>
                                                    <li><a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Clothes</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">T-Shirts</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Hoodies</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Shirts</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Jackets</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Pants</a></li>
                                                </ul>
                                            </div>
                                            <div class="clothes">
                                                <ul>
                                                    <li><a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Shoes</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Sneakers</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Boots</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Children</a>

                                        <div class="dropdown-menu products" id="childProducts">
                                            <div class="clothes">
                                                <ul>
                                                    <li><a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Clothes</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">T-Shirts</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Hoodies</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Jackets</a></li>
                                                    <li><a asp-controller="ProductList" asp-action="Index">Pants</a></li>
                                                </ul>
                                            </div>
                                            <div class="clothes">
                                                <ul>
                                                    <li><a asp-controller="ProductList" asp-action="Index" style="font-weight:bold">Shoes</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <a asp-controller="Cart" asp-action="Index"><img id="cartLogo" src="~/img/cart.png"/></a>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SUBURBAN
        </div>
        <div>
            <a style="text-decoration: none; margin-right: 3em; color: white !important;"  asp-controller="Home" asp-action="ContactUs">Contact Us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
