#allDiv {
    margin: auto;
    margin-top: 6em;
    background-color: #e6e6e6;
    border-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40em;
}

#allDiv img{
    width:20em;

}
