#mainDiv {
    margin: auto;
    margin-top: 6em;
    background-color: #e6e6e6;
    border-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40em;
}

    #mainDiv img {
        width: 20em;
        border-radius:10px;
    }

#btn_add, #btn_shop {
    background-color: #2286d8;
    color: white
}
