@{
    ViewData["Title"] = "Contact Us";
}

<head>
    <link rel="stylesheet" href="~/css/contactUs.css" asp-append-version="true" />
</head>

<div id="backgroundDiv">
    <h1>@ViewData["Title"]</h1>
    <p>
        Phone: <a href="tel:0888123456">+359 888 123 456</a>
    </p>
    <p>
        E-Mail: <a href = "mailto: wacexo9680@eightset.com">wacexo9680@eightset.com</a>
    </p>
</div>

