@using SubUrbanClothes.Database
@model Product
@{
    ViewData["Title"] = "SUBURBAN";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<body>
    <div id="allDiv">
        <div class="genderDividers">
            <h4>Men</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
            </ul>
        </div>
        <div class="genderDividers">
            <h4>Women</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
            </ul>
        </div>
        <div class="genderDividers">
            <h4>Children</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
                <li class="productItems">
                    <p>asd</p>
                </li>
            </ul>
        </div>
    </div>
</body>
