@model ProductViewModel
@{
	ViewData["Title"] = "Create";
}

<div class="text-center">
	<h1 class="display-4">Create</h1>

	<form asp-controller="Product" asp-action="Create" method="post">
		<label>Name</label> <br>
		<input name="name" required> <br>

		<label>Price</label> <br>
		<input type="number" min="0" name="price" required> <br>

		<label>Brand</label> <br>
		<input name="brand" required> <br>

		<label>Color</label> <br>
		<input name="color" required> <br>

		<label>Size</label><br>
		<input type="number" min="36" max="44" name="size" required> <br>
		</select>
		<br>
		<br><br>

		<button>Create</button>
	</form>
</div>