@model PaymentModel

@{
    ViewData["Title"] = "Payment";
}

<div style="margin:auto; padding:20px; border-radius:10px; background-color: white; width: 200px; text-align:center">
    <form action="/Cart/Checkout/" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_51KmdMRAg99JK9SIfUmtBrdfc11zSv7IkJku2N90J3rI40EVrIcyrgV1VJUfDfN3QmLTRFMosPC6r8VJAwVbqiXQB00RtVGch5n"
                data-amount="@((long) (Model.Amount * 100))"
                data-name="@Model.Company"
                data-description="@Model.Description"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="en"
                data-zip-code="true"
                data-label="@Model.Label">
        </script>
    </form>
</div>