@{
	ViewData["Title"] = "Confirmation";
}
<div class="text-center">
	<p>Are you sure you want to delete your account?</p>
	<p><br><br><br></p>
	<input type="button" style="background-color: limegreen; color: white" value="Yes" onclick="location.href='@Url.Action("DeleteUser", "User")'" />
	<input type="button" style="background-color: indianred; color: white" value="No" onclick="location.href='@Url.Action("UserProfile", "User")'" />
</div>