@{
	ViewData["Title"] = "Edit profile";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>

	<form asp-controller="User" asp-action="EditProfile" method="post">

		<label for="uname">New username:</label> <br>
		<input type="text" id="uname" name="username"> <br>

		<label for="pwd">New password:</label> <br>
		<input type="password" id="pwd" name="password" minlength="8"> <br>

		<label for="fname">New first name:</label> <br>
		<input type="text" id="fname" name="firstname"> <br>

		<label for="lname">New last name:</label> <br>
		<input type="text" id="lname" name="lastname"> <br>

		<label for="pwd">Confirm password:</label> <br>
		<input type="password" id="pwd" name="confirmPassword" minlength="8" required> <br>

		<br>

		<button>
			Save changes
		</button>
	</form>
</div>