@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>

	<form asp-controller="User" asp-action="Register" method="post">

		<label for="uname">Username:</label> <br>
		<input type="text" id="uname" name="username" required> <br>

		<label for="pwd">Password:</label> <br>
		<input type="password" id="pwd" name="password" minlength="8" required> <br>

		<label for="pwd">Confirm password:</label> <br>
		<input type="password" id="pwd" name="confirmPassword" minlength="8" required> <br>
		
		<label for="fname">First name:</label> <br>
		<input type="text" id="fname" name="firstname" required> <br>

		<label for="lname">Last name:</label> <br>
		<input type="text" id="lname" name="lastname"> <br>

		<br>

		<button>
			Register
		</button>

		<!--<input type="submit" value="Submit" />-->
	</form>
</div>